.main-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.delivery-payment-section {
    width: 70%;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.address-box{
    margin: 10px;
}

.tile-selected-address {
    margin: 10px;
    border: 1px solid deeppink;
    border-radius: 5px;
    border-right: 3px solid deeppink;
    border-bottom: 3px solid deeppink;
}

.tile-not-selected-address {
    margin: 10px;
    border: 1px solid white;
    border-radius: 5px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}

#new-address-display{
    margin-top: 10px;
    margin-bottom: 15px;
}

.select-address-icon-container {
    color: green;
    display: flex;
    flex-direction: row-reverse;
}

.green-icon {
    color: rgba(0, 150, 0, 0.54);
}

.grey-icon {
    color: rgba(0, 0, 0, 0.54);
}

.existing-address-grid-list {
    flex-wrap: nowrap;
    transform: translateZ(0);
}

@media (min-width: 320px) and (max-width: 900px) {
    .main-container {
        height: 100vh;
        display: block;
    }

    .delivery-payment-section {
        width: 100%;
    }
}

@media (min-width: 900px) and (max-width: 1400px) {
    .delivery-payment-section{
        width: 58%;
    }

    #payment-modes {
        margin-bottom: 15px;
    }
}