.main-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.delivery-payment-section {
    width: 70%;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.address-box{
    margin: 10px;
}

.tile-selected-address {
    margin: 10px;
    border: 1px solid deeppink;
    border-radius: 5px;
    border-right: 3px solid deeppink;
    border-bottom: 3px solid deeppink;
}

.tile-not-selected-address {
    margin: 10px;
    border: 1px solid white;
    border-radius: 5px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}

#new-address-display{
    margin-top: 10px;
    margin-bottom: 15px;
}

.select-address-icon-container {
    color: green;
    display: flex;
    flex-direction: row-reverse;
}

.green-icon {
    color: rgba(0, 150, 0, 0.54);
}

.grey-icon {
    color: rgba(0, 0, 0, 0.54);
}

.existing-address-grid-list {
    flex-wrap: nowrap;
    transform: translateZ(0);
}

.summary-section {
    width: 30%;
}

.summary-card {
    margin-top: 30px;
    margin-right: 20px;
}

.summary-heading {
    margin: 0px;
}

@media (min-width: 320px) and (max-width: 900px) {
    .main-container {
        height: 100vh;
        display: block;
    }

    .delivery-payment-section {
        width: 100%;
    }

    .summary-section {
        width: 100%;
    }

    .summary-card {
        margin-left: 20px;
    }
}

.checkout-item-name {
    font-size: 17px;
}

.checkout-item-section1 {
    width: 12%;
}

.checkout-item-section2 {
    width: 50%;
    display: flex;
    align-items: center;
}

.checkout-item-section3 {
    display: flex;
    align-items:center;
}

.checkout-item-section4 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    color: grey;
}

.checkout-item-section3 > button {
    padding: 0;
}

.checkout-item-section3 > span {
    text-align: center;
}

.checkout-item-section4 > span > .fa-rupee-sign {
    font-size: 14px;
    -webkit-text-stroke: .1px white;
}

.checkout-item-price {
    font-size: 15px;
    padding-right: 0px;
}

.checkout-cart-total {
    margin-top: 15px;
}

.checkout-cart-button {
    width: 100%;
}

.checkout-cart-item > ul > li {
    padding: 0;
    height: 45px;
    justify-content: space-between;
}

@media (min-width: 900px) and (max-width: 1400px) {
    .delivery-payment-section{
        width: 58%;
    }
    
    #payment-modes {
        margin-bottom: 15px;
    }

    .summary-section {
        width: 42%;
    }
}